.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
.DS_Store
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
